image: docker:20.10.16

services:
  - docker:20.10.16-dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

before_script:
  - docker info

build:
  stage: build
  script:
    - echo "Logging in to Docker registry..."
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY || (echo "Docker login failed" && exit 1)
    - docker rmi projet-jpo || true
    - echo "Construction de l'image projet-jpo en cours..."
    - docker build -t projet-jpo .
    - docker run -d -p 80:80 projet-jpo
  artifacts:
    paths:
      - /app/logs/build.log

deploy:
  stage: deploy
  script:
    - echo "Tests"
  artifacts:
    paths:
      - /app/logs/deploy.log
